/* Login Page Styling */
body {
    font-family: Arial, sans-serif;
    background-image: url("back.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  } 
  
  .login-container {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
  }
  
  .login-card {
    background: rgba(234, 100, 33, 0.9);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .login-card h1 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: #110303;
  }
  
  .login-card p {
    margin-bottom: 1.5rem;
    color: #0b0b0b;
  }
  
  .input-group {
    margin-bottom: 1.2rem;
    text-align: left;
  }
  
  .input-group label {
    font-size: 0.9rem;
    color: #333;
    display: block;
    margin-bottom: 0.3rem;
  }
  
  .input-group input {
    width: 100%;
    padding: 4px;
    border-radius: 4px;
    border: 2px solid #ddd;
    font-size: 1rem;
  }
  
  .input-group input:focus {
    border-color: hsl(238, 83%, 23%);
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 0.8rem;
    background-color: #8AAAE5;
    color: #efc1c1;
    border: none;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #fa8888;
  }
  
  .register-link {
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  
  .register-link a {
    color: #990011 ;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }